@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;

      /* Colors (dark mode) */
      --sl-color-white: hsl(0, 0%, 100%); /* “white” */
      --sl-color-gray-1: hsl(224, 20%, 94%);
      --sl-color-gray-2: hsl(224, 6%, 77%);
      --sl-color-gray-3: hsl(224, 6%, 56%);
      --sl-color-gray-4: hsl(224, 7%, 36%);
      --sl-color-gray-5: hsl(224, 10%, 23%);
      --sl-color-gray-6: hsl(224, 14%, 16%);
      --sl-color-black: hsl(224, 10%, 10%);

      --sl-hue-orange: 41;
      --sl-color-orange-low: hsl(var(--sl-hue-orange), 39%, 22%);
      --sl-color-orange: hsl(var(--sl-hue-orange), 82%, 63%);
      --sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);
      --sl-hue-green: 101;
      --sl-color-green-low: hsl(var(--sl-hue-green), 39%, 22%);
      --sl-color-green: hsl(var(--sl-hue-green), 82%, 63%);
      --sl-color-green-high: hsl(var(--sl-hue-green), 82%, 80%);
      --sl-hue-blue: 234;
      --sl-color-blue-low: hsl(var(--sl-hue-blue), 54%, 20%);
      --sl-color-blue: hsl(var(--sl-hue-blue), 100%, 60%);
      --sl-color-blue-high: hsl(var(--sl-hue-blue), 100%, 87%);
      --sl-hue-purple: 281;
      --sl-color-purple-low: hsl(var(--sl-hue-purple), 39%, 22%);
      --sl-color-purple: hsl(var(--sl-hue-purple), 82%, 63%);
      --sl-color-purple-high: hsl(var(--sl-hue-purple), 82%, 89%);
      --sl-hue-red: 339;
      --sl-color-red-low: hsl(var(--sl-hue-red), 39%, 22%);
      --sl-color-red: hsl(var(--sl-hue-red), 82%, 63%);
      --sl-color-red-high: hsl(var(--sl-hue-red), 82%, 87%);

      --sl-color-accent-low: hsl(224, 54%, 20%);
      --sl-color-accent: hsl(224, 100%, 60%);
      --sl-color-accent-high: hsl(224, 100%, 85%);

      --sl-color-text: var(--sl-color-gray-2);
      --sl-color-text-accent: var(--sl-color-accent-high);
      --sl-color-text-invert: var(--sl-color-accent-low);
      --sl-color-bg: var(--sl-color-black);
      --sl-color-bg-nav: var(--sl-color-gray-6);
      --sl-color-bg-sidebar: var(--sl-color-gray-6);
      --sl-color-bg-inline-code: var(--sl-color-gray-5);
      --sl-color-bg-accent: var(--sl-color-accent-high);
      --sl-color-hairline-light: var(--sl-color-gray-5);
      --sl-color-hairline: var(--sl-color-gray-6);
      --sl-color-hairline-shade: var(--sl-color-black);

      --sl-color-backdrop-overlay: hsla(223, 13%, 10%, 0.66);

      /* Shadows (dark mode) */
      --sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.12), 0px 2px 1px hsla(0, 0%, 0%, 0.24);
      --sl-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.08), 0px 5px 2px hsla(0, 0%, 0%, 0.08),
        0px 3px 2px hsla(0, 0%, 0%, 0.12), 0px 1px 1px hsla(0, 0%, 0%, 0.15);
      --sl-shadow-lg: 0px 25px 7px hsla(0, 0%, 0%, 0.03), 0px 16px 6px hsla(0, 0%, 0%, 0.1),
        0px 9px 5px hsla(223, 13%, 10%, 0.33), 0px 4px 4px hsla(0, 0%, 0%, 0.75),
        0px 4px 2px hsla(0, 0%, 0%, 0.25);

      /* Text size and line height */
      --sl-text-2xs: 0.75rem; /* 12px */
      --sl-text-xs: 0.8125rem; /* 13px */
      --sl-text-sm: 0.875rem; /* 14px */
      --sl-text-base: 1rem; /* 16px */
      --sl-text-lg: 1.125rem; /* 18px */
      --sl-text-xl: 1.25rem; /* 20px */
      --sl-text-2xl: 1.5rem; /* 24px */
      --sl-text-3xl: 1.8125rem; /* 29px */
      --sl-text-4xl: 2.1875rem; /* 35px */
      --sl-text-5xl: 2.625rem; /* 42px */
      --sl-text-6xl: 4rem; /* 64px */

      --sl-text-body: var(--sl-text-base);
      --sl-text-body-sm: var(--sl-text-xs);
      --sl-text-code: var(--sl-text-sm);
      --sl-text-code-sm: var(--sl-text-xs);
      --sl-text-h1: var(--sl-text-4xl);
      --sl-text-h2: var(--sl-text-3xl);
      --sl-text-h3: var(--sl-text-2xl);
      --sl-text-h4: var(--sl-text-xl);
      --sl-text-h5: var(--sl-text-lg);

      --sl-line-height: 1.75;
      --sl-line-height-headings: 1.2;

      --sl-font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
      --sl-font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
      --__sl-font: var(--sl-font, var(--sl-font-system)), var(--sl-font-system);
      --__sl-font-mono: var(--sl-font-mono, var(--sl-font-system-mono)), var(--sl-font-system-mono);

      /** Key layout values */
      --sl-nav-height: 3.5rem;
      --sl-nav-pad-x: 1rem;
      --sl-nav-pad-y: 0.75rem;
      --sl-mobile-toc-height: 3rem;
      --sl-sidebar-width: 18.75rem;
      --sl-sidebar-pad-x: 1rem;
      --sl-content-width: 45rem;
      --sl-content-pad-x: 1rem;
      --sl-menu-button-size: 2rem;
      --sl-nav-gap: var(--sl-content-pad-x);
      /* Offset required to show outline inside an element instead of round the outside */
      --sl-outline-offset-inside: -0.1875rem;

      /* Global z-index values */
      --sl-z-index-toc: 4;
      --sl-z-index-menu: 5;
      --sl-z-index-navbar: 10;
      --sl-z-index-skiplink: 20;

      --astro-code-color-text: var(--sl-color-white);
      --astro-code-color-background: var(--sl-color-gray-6);
      --astro-code-token-constant: var(--sl-color-blue-high);
      --astro-code-token-string: var(--sl-color-green-high);
      --astro-code-token-comment: var(--sl-color-gray-2);
      --astro-code-token-keyword: var(--sl-color-purple-high);
      --astro-code-token-parameter: var(--sl-color-red-high);
      --astro-code-token-function: var(--sl-color-red-high);
      --astro-code-token-string-expression: var(--sl-color-green-high);
      --astro-code-token-punctuation: var(--sl-color-gray-2);
      --astro-code-token-link: var(--sl-color-blue-high);
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }